<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <title>{% block title %} {% endblock %}</title>
</head>

<body style="background: url(https://image.freepik.com/free-vector/colorful-memphis-design-background-vector_53876-81744.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover">
    <div class="navbar navbar-light bg-info ">
        <div class="navbar-container">
            {% if session["username"] %}
            <div class="navbar-brand"><a class="text-white" href={{"/users/{{user.username}}"}}>Dashboard</a></div>
            {% else %}
            <div class="navbar-brand"><a class="text-white" href="/">PickrrUp</a></div>
            {% endif %}
            <ul class="nav navbar-nav flex-row float-right">
                {% if session["username"] %}
                <li class="nav-item ">
                    <a class="nav-link pr-3 text-white " href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link pr-3 text-white" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/register">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container text-center" style="margin-top: 1em">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </div>



    <!-- Footer Section -->
    <footer class=" footer mt-auto py-3 text-center">
        <div class="container">
            <p class='lead'><small></small></p>
            <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik -
                www.freepik.com</a>
            <hr>

            <span class="text-muted">
                <h5 class='display-6'>Get In Touch</h5>
            </span>
            <a target='_blank' href="https://www.linkedin.com/in/jane-chukwuelue/"><i class="fab fa-linkedin fa-2x"
                    style="color: teal"></i></a>
            <a target='_blank' href="https://github.com/janechuk "><i class="fab fa-github-square fa-2x"
                    style="color: teal"></i></a>
            <a href="mailto:jane-chuk@live.com"><i class="fas fa-envelope fa-2x" style="color: teal"></i></a>
        </div>
    </footer>
    <!-- Footer Section End -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>





<!-- style="background-size: cover; background-position: center; background-repeat: no-repeat, no-repeat; background-image:
url(https://image.freepik.com/free-vector/colorful-memphis-design-background-vector_53876-81744.jpg)" -->